{% load static %}

<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{% block title %}Le Frat{% endblock %}</title>
  <link rel="stylesheet" href="{% static 'css/base.css' %}">
  {% block extra_css %}{% endblock %}
</head>

<body>
  {% include 'includes/main-nav.html' %}
  {% include 'includes/messages.html' %}

  <main>
    {% block content %}{% endblock %}
  </main>

  {% include 'includes/footer.html' %}
  {% block extra_js %}{% endblock %}
</body>
</html>
